
<br>
<br>
<h1>Welcome to Inner Geek Comicbook App!</h1>
<br>
<p>At its core, Inner Geek Comicbook Web App features a cataloging system that you can use it as a database to list your 
comicbook archieve.
You can:
<ul>
<li>Add/Edit New or Old Comic Listings</li>
<li>Add Creator Credits to Issues</li>
<li>Add/Edit Notes </li>
</ul>

<br>
<h2>Sign Up here - <%= link_to "Sign Up", signup_path %>
<br>
<h2>Login here - <%= link_to "Login", login_path %>  or <%= link_to "Login With Google", '/auth/google_oauth2'%> </h2>


